$light-pink: #ffebf2;
$pink-m: #f650a0;
$black: #000000;
$white: #ffffff;
$black-m: #333333;
$grey-l: #e7e7e7;
$grey-m: #999999;
$green-l: #a3e8d6;
$yellow: #fcfa96;
$placeholder:#d8d8d8;
$black-lighter: #222222;
$white-darker: #656565;
$pink: #e0c5ec