.navbar {
    background-color: $light-pink;

    .navbar-brand {
        img {
            width: 128px;
        }
    }

    .nav-link {
        color: $black;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 0.05px;
        font-family: 'Secular One', sans-serif;

        &:hover {
            color: $pink-m;
        }
    }

    .active {
        .nav-link {
            color: $pink-m;
        }
    }

    .active-language {
        color: $pink-m;
    }

    .nav-basket {

        color: $pink-m;

        &::before {
            content: '';
            display: inline-block;
            background-image: url('../images/basket.png');
            width: 14px;
            height: 13px;
            margin-right: 5px;
        }

    }
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    background: $black;
    transition: transform .3s;
}

.navbar-toggle .icon-bar--second {
    top: -6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}