.button-primary {
    background-color: $pink-m;
    display: inline-block;
    line-height: 30px;
    color: $white;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
        text-decoration: none;
        color: $white;
        background-color: darken($pink-m, 25%);
    }

}